<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Pizze</title>
</head>

<body class="container">
	<form class="p-2" id="pizza-form" th:object="${pizza}" th:action="@{/edit/{id}(id=${pizza.id})}" method="post">
		<ul>
			<li th:each="err : ${#fields.allErrors()}" th:text="${err}" class="text-danger">
			</li>
		</ul>
		<label for="name" class="form-label">Nome</label>
		<input type="text" class="form-control" id="name" th:field="*{name}">

		<label for="description" class="form-label">descrivi la pizza</label>
		<input type="text" class="form-control" id="description" th:field="*{description}">

		<label for="img" class="form-label">inserisci una foto</label>
		<input type="text" class="form-control" id="img" th:field="*{img}">

		<label for="price" class="form-label">pezzo</label>
		<input type="number" min="0" max="60" class="form-control" id="price" th:field="*{price}">

		<button class="mt-1" type="submit">Salva</button>
	</form>
	<a class="btn btn-secondary m-2" th:href="@{/}" th:classAppend="${pagina=='pizze'}? active : not-active"> elimina
	</a>
</body>

</html>