<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>La mia Pizzeria</title>
	<th:block th:replace="~{fragments :: head}"></th:block>
</head>

<body>
	<div class="container mt-5">
		<h1 class="mt-5 mb-4 text-center">La magica pizzeria di Rosario!</h1>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped" th:if="${not #lists.isEmpty(pizzas)}">
					<thead>
						<tr>
							<th>Immagine</th>
							<th>Nome</th>
							<th>Descrizione</th>
							<th>Prezzo €</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pizza : ${elencoPizze}">
							<td><img th:src="${pizza.imgURL}" width="100" /></td>
							<td th:text="${pizza.name}"></td>
							<td th:text="${pizza.description}"></td>
							<td th:text="${pizza.price} + ' €'"></td>
						</tr>
					</tbody>
				</table>
				<div class="alert alert-info" th:if="${#lists.isEmpty(pizzas)}">
					<p>Non ci sono pizze al momento!.</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>