<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>La mia Pizzeria</title>
	<th:block th:replace="~{fragments :: head}"></th:block>
</head>

<body>
	<div>
		<div>
			<form method="GET" action="/pizza">
				<label for="keyword">Ricerca la tua pizza:</label>
				<input type="text" id="keyword" name="keyword">
				<input type="submit" value="Invia">
			</form>
		</div>
		<h1>Ecco le Pizze</h1>
		<ul>
			<li th:each="pizza:${elencoPizze}">
				<a th:href="@{/pizza/{id}(id=${pizza.getId()})}">
					<div th:text="${pizza.nome}"></div>
				</a>
				<div th:text="${pizza.descrizione}"></div>
				<img th:src="${pizza.foto}" />
				<div th:text="'prezzo' +' '+${pizza.prezzo}+'€'"></div>

			</li>
		</ul>
	</div>
</body>

</html>